<%= form_for (@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
  名前:
  <%= f.text_field :name class:"col-sm-3" %>

  内容:
  <%= f.text_field :body class:"col-sm-3" %>
  年齢:
  <%= f.text_field :body class:"col-sm-3" %>
  <%= f.submit class: "btn col-sm-3 btn-primary" %>
<% end %>
